* {
    font-family: 'Nunito', sans-serif;
    /* border: 1px solid black; */
}

html {
    box-sizing:border-box;
    background-color: darkgrey;
}

*,*:before,*:after{
    box-sizing:inherit;
}

.hidden {
    visibility: hidden; 
}
.center {
    text-align: center;
}

label {
    display:inline-block;
    width:100px;
    text-align: left;
}

button {
    width: 189px;
    margin-top: 5px;
}

.all-submit-shift, .count-shift, .edit-who, .fewer-shift, .create-new  {
position: relative;
}

.create-new {
    top: 4px;
}

.all-submit-shift {
    top: -24px;
}

.count-shift {
    top: -52px;
}

.edit-who {
    top: -95px;
}

.fewer-shift {
    top: -52px;
    left: -3px;
}

header {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 80px;
}

.create-character {
    height: 30%;
}

.blurb {
    margin: auto;
    width: 400px;
}

.fixed-container, .landing-page {
    top:65px;
    position: fixed;
    text-align: center;
    height: 230px;
    width: 100%;
    z-index:10;
    background-color: darkgrey;
}

.disclaimer {
    position: absolute;
    top: 75%;
    font-size: 8pt;
    left:50%;
    transform: translate(-50%, 0);
}

.shift-container {
    position: absolute;
    top: 315px;
    margin-top: 20px;
    z-index:5;
    height: 400px;
    overflow:auto;
}

.shift-container, .fixed-container, .landing-page {
    width: 100%;
    left:50%;
    transform: translate(-50%, 0);
}

.landing-page {
    height: 90%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
}

.details {
    border: 1px solid black;
    margin-bottom: 5px;
}

@media screen and (max-width: 640px) {
    .edit-character, .delete-character {
      width: 100px;
      margin-top: 5px;
  }
    .title {
    font-size: 15pt;
    }

    .blurb {
        width: 75%;
    }

   .character-number, .edit-who {
        font-size: 12pt;
        }

    .fixed-container{
        top:40px;
        position: fixed;
        text-align: center;
        height: 30%;
        width: 100%;
        z-index:10;
        background-color: darkgrey;
    }

    .shift-container {
        position: absolute;
        top: 258px;
        margin-top: 20px;
        z-index:5;
        height: 60%;
        overflow:auto;
    }

    .fewer-shift {
        top: -52px;
        /* left: -3px; */
    }
}