html {
    box-sizing:border-box;
}

*,*:before,*:after{
    box-sizing:inherit;
}

.hidden {
    visibility: hidden; 
}
.center {
    text-align: center;
}

label {
    /* text-align: center; */
    display:inline-block;
    width:100px;
    text-align: left;
}

